---
title: "LIFLIX"
excerpt: "개발과 일상 블로그"
layout: archive
sidebar_main: ture
author_profile: true
entries_layout: grid
header:
  overlay_image: /assets/images/back.jpg
  overlay_filter: linear-gradient(to right, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0))
---

<div style="padding-bottom: 0.5em; white-space: nowrap; font-size: larger">
  <a href="/tags/dev">개발</a>
</div>
<div style="padding-bottom: 1em">
  <div>
    <div class="grid__wrapper">
      {% for post in site.tags.Dev limit:4 %} {% include
      archive-single.html type="grid" %} {% endfor %}
    </div>
  </div>
</div>

<div style="padding-bottom: 0.5em; font-size: larger">
  <a href="/tags/daily">일상</a>
</div>
<div style="padding-bottom: 1em">
  <div>
    <div class="grid__wrapper">
      {% for post in site.tags.Daily limit:4 %} {% include
      archive-single.html type="grid" %} {% endfor %}
    </div>
  </div>
</div>